.navbar-inverse .navbar-header a.navbar-brand {
    font-weight: bold !important;
}
h1, a {
    color: #FCA205;
}

th.prev, th.next {
    color: #FCA205;
}


#orange {
	color: #ffab00 !important;
}

#blue {
	color: #82b1ff !important;
}

.brand-logo {
	font-weight: bold;
}